<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="test-hotel"
         version="4.0">
    <display-name>Systeme de gestion d'hotellerie</display-name>
    <context-param>
        <param-name>exempleParam1</param-name>
        <param-value>valeurDeExempleParam1</param-value>
    </context-param>
<!--    Error page 404 redirect-->
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.jsp</location>
    </error-page>

    <!--    Listeners-->
    <listener>
        <listener-class>AubServlet.AubergeInnSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>AubServlet.AubergeInnContextListener</listener-class>
    </listener>
<!--    Liste de servlets-->
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>AubServlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>AubServlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>AubServlet.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>AubServlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>AubServlet.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utilisateurs</servlet-name>
        <servlet-class>AubServlet.Utilisateurs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clients</servlet-name>
        <servlet-class>AubServlet.Clients</servlet-class>
    </servlet>
<!--    Mappings-->
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/tp5/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/tp5/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/tp5/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/tp5/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/tp5/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utilisateurs</servlet-name>
        <url-pattern>/tp5/Utilisateurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clients</servlet-name>
        <url-pattern>/tp5/Clients</url-pattern>
    </servlet-mapping>
</web-app>
